/*

COLORS

gray light 1: #faf9f9
gray light 2: #f4f2f2
gray light 3: #f0eee
gray light 4: #ccc

gray dark 1: #333
gray dark 2: #777
gray dark 3: #999

gold  light: #F8E3A2
gold : #F6DC8B
gold dark: #F4D36E


*/

$color-text-light: #4BBDC5;

$color-text-dark: #30797E;

$color-black-dark: #000;