.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--gray-light-2);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
    min-height: 50rem;

    @include respond (tab-land) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }


}

.header {
    background-color: #fff;
    border-bottom: var(--gray-light-2);
    display: flex;
}

// LOGO

.logo {

    &__header {
        display: inline;
        margin-right: 2rem;
        margin-top: 2rem;
        background: var(--gray-light-2);  
    }
    
    &__img {
        width: 10rem;
        height: 10rem;
                  
    }
}

// USER NAVIGATION

.user-nav {

    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--gray-light-2);

    &__icons {
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1rem;
        padding-bottom: 5px;
        border-bottom: 2px solid red; 
    }

    &__header {

        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
        background: 1px solid var(--gray-light-2);


    }

    &__icon-box {

        display: flex;
        margin: 2px 0;
        cursor: pointer;
        
        @include respond (phone) {

            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    &__icon-box:hover {
        
        color: orangered;
    }


    &__phone {
        width: 3rem;
        height: 3rem;
        margin-top: .9rem;
        
    }

    &__whatsapp {

        width: 3rem;
        height: 3rem;
        margin-top: .9rem;
    }

    &__mail {
        width: 3rem;
        height: 3rem;
        margin-top: .9rem;
    }

    &__map {

        width: 3rem;
        height: 3rem;
        margin-top: .9rem;
    }

}

// BODY OF CONTENT 

.content {
    
    display: flex;

    @include respond (tab-port) {
        
        flex-direction: column;
    }
}

// SIDE BAR

.sidebar {
    background-color: var(--gray-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// STORE VIEW

.store-view {

    background-color: #fff;
    flex: 1;
}