// REVIEWS

.review {

    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @include respond (tab-port) {

        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__text {

        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {

        display: flex;
        align-items: center;
        
    }

    &__photo {

        height: 4.5rem;
        width: 4.5rem; 
        border-radius: 50%;
        margin-left: 1.5rem;
    }

    &__user-box {

        margin-left: auto;
    }

    &__user-name {

        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {

        font-size: 1rem;
        color: var(--color-gold-light);
    }

    &__rating {

        color: var(--color-gold);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before {

        content: "\201D";
        position: absolute;
        top: 1rem;
        right: 0;
        line-height: 1;
        font-size: 8rem;
        color: var(--gray-light-3);
        font-family: sans-serif;
        z-index: 1;
    }
}